<!DOCTYPE html>
<html ng-app="DiskoApp">
  <head>
    <title>Disko</title>
    <!--favicon-->
    <link rel="icon" type="image/png" href="/public/icon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/player.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.3/css/toastr.min.css" type="text/css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.3/js/toastr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//cdn.socket.io/socket.io-1.0.6.js"></script>
    <script src="https://w.soundcloud.com/player/api.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <body data-spy="scroll" data-target="#nav-scrollspy">
      <style type="text/css"></style>
    </body>
    <nav role="navigation" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">DISKO</a>
        </div>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Explore</a></li>
            <li class="active"><a href="#" ng-click="isCollapsed = !isCollapsed">Playlists</a></li>
          </ul>
          <form role="search" class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" placeholder="Search" style="width: 400px;" class="form-control">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Account User<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Playlists</a></li>
                <li><a href="#">Informations</a></li>
                <li><a href="#">Change Password</a></li>
                <li class="divider"></li>
                <li><a href="#">Log Out</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>--Playlist Name--</h1>
          <h4>by --User--</h4>
        </div>
      </div><br>
      <script type="text/javascript" src="/js/controllers/player.js"></script>
      <div collapse="isCollapsed" class="row">
        <div class="well well-lg">
        </div>
      </div>
      <div ng-controller="playerController" class="row">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="btn-toolbar">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-step-backward"></span> Previous</button>
                      <button type="button" ng-click="buttons.play()" class="btn btn-default"><span class="glyphicon glyphicon-play"></span> Play</button>
                      <Button type="button" class="btn btn-default hide"><span class="glyphicon glyphicon-pause"></span> Pause</Button>
                      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-step-forward"></span> Next</button>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
                      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share"></span> Share</button>
                    </div>
                    <div class="btn-group">
                      <button type="button" data-toggle="modal" data-target="#manageModal" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span> Manage</button>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> Fork</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h5>Add a song :</h5>
                  <form class="form-inline">
                    <div class="col-sm-10">
                      <div class="form-group has-feedback full-width">
                        <input type="url" ng-model="newTrackUrl" placeholder="Paste url of the track ..." class="form-control"><span class="glyphicon form-control-feedback hide full-width"></span>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <button ng-click="addNewTrack()" class="btn btn-default">Add track</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div>
                <script>
                  var socket = io.connect('http://localhost');
                  $(function() {
                    $( "#sortable" ).sortable({
                      key: "sort",
                      stop: function(event, ui) {
                        console.log(ui);
                        socket.emit('pl_change', { pl: 'table changed' });
                      }
                    });
                    $( "#sortable" ).disableSelection();
                  });
                  socket.on('pl_change', function (data) {
                    console.log(data);
                  });
                </script>
                <table class="table table-hover">
                  <tr>
                    <th>Song</th>
                    <th>Duration</th>
                    <th>Source</th>
                  </tr>
                  <tbody id="sortable">
                    <tr ng-repeat="item in playlist.content | orderBy:sortingOrder:reverse">
                      <td><a ng-click="playing.changeTrack(item)"> {{item.title}} - {{item.artist}}</a></td>
                      <td>{{item.duration}}</td>
                      <td><a href="{{item.url}}" target="_BLANK">{{item.service}}</a></td>
                    </tr>
                  </tbody>
                </table>
                <button type="button" ng-click="savePlaylist()" class="btn btn-success pull-right"><span class="glyphicon glyphicon-ok">Save</span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Playing : Artist - Title</h4>
              </div>
              <div class="panel-body">
                <iframe id="scPlayer" ng-show="playing.isSC" width="100%" height="400px" scrolling="no" frameborder="no" src=""></iframe>
                <div ng-show="!playing.isSC">
                  <div id="ytPlayer" scrolling="no" frameborder="no"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4>Playlist Comments :</h4>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <h5>Post a Comment :</h5>
                    <div class="input-group">
                      <input type="text" class="form-control"><span class="input-group-btn">
                        <button type="button" class="btn btn-default">Go!</button></span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <h5><a>User 1 :</a></h5><span> Cras justo odio</span>
                  </li>
                  <li class="list-group-item">
                    <h5><a>User 2 :</a></h5><span>Dapibus ac facilisis in</span>
                  </li>
                  <li class="list-group-item">
                    <h5><a>User 3 :</a></h5><span>Morbi leo risus</span>
                  </li>
                  <li class="list-group-item">
                    <h5><a>User 4 :</a></h5><span>Porta ac consectetur ac</span>
                  </li>
                  <li class="list-group-item">
                    <h5><a>User 5 :</a></h5><span>Vestibulum at eros</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div id="manageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                  <h4 class="modal-title">Manage Playlist</h4>
                  <div class="modal-body">
                    <h5>Title</h5>
                    <input type="text" class="form-control">
                    <h5>Editors</h5>
                    <input type="text" class="form-control">
                    <h5>Visibility</h5>
                    <select class="form-control">
                      <option value="public">Public</option>
                      <option value="protected">Protected</option>
                      <option value="private">Private</option>
                    </select>
                  </div>
                  <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </head>
</html>