extends layout
block append content
  .container
    h1 Disko
    p.lead Playlist Manager
    br
    div(ng-controller='playlistController')
      tbody
        tr(ng-repeat='item in playlist.content | orderBy:sortingOrder:reverse')
            td {{item.title}}
            td {{item.author}}
            td {{item.addedBy}}
            td {{item.addedDate}}
            td {{item.url}}
            td {{item.src}}
    script(type='text/javascript').
      var DiskoApp = angular.module('DiskoApp', []);

      DiskoApp.controller('PhoneListCtrl',function playlistController($scope) {

        $.get('playlists.json', function(data) {
          $scope.playlist = data.content[0];
          alert($scope.playlist);
        });
      }
