extends layout
block append content
  .container
    h1 Disko
    p.lead Playlist Manager
    br
    script(type='text/javascript').
      var DiskoApp = angular.module('DiskoApp', []);

      DiskoApp.controller('indexController',function($scope) {

        //- $.get('playlists.json', function(data) {
        //-   $scope.$apply(function(){
        //-     $scope.playlist = data.content[0].content;
        //-   });
        //- });
        //- console.log($scope.playlist);
      });
    .row
      .col-md-12
        .jumbotron
          h3 
            | This is Disko. A multi-source social playlist manager that supports, soundcloud, youtube, etc whatever has an embed code.
            | Start by searching for a song or a specific playlist!

    .row
      .col-md-3
        .panel.panel-default
          .panel-heading New Songs
          .panel-body
            table.table
              tr
                td glyphicon glyphicon-thumbs-up
              tr
                td glyphicon glyphicon-pushpin
              tr
                td glyphicon glyphicon-collapse-down
              tr
                td glyphicon glyphicon-collapse-up
              tr
                td glyphicon glyphicon-saved
              tr
                td glyphicon glyphicon-share
              tr
                td glyphicon glyphicon-thumbs-up
              tr
                td glyphicon glyphicon-pushpin
              tr
                td glyphicon glyphicon-collapse-down
              tr
                td glyphicon glyphicon-collapse-up
      .col-md-6
        .row
          .col-md-12
            .panel.panel-default
              .panel-body
                h3 Search :
                .input-group
                  input.form-control(type='text') 
                  span.input-group-btn
                    button.btn.btn-default(type='button') Go!
          .col-md-6
            .panel.panel-default
              .panel-heading Hottest Songs
              .panel-body
                table.table
                  tr
                    td glyphicon glyphicon-thumbs-up
                  tr
                    td glyphicon glyphicon-pushpin
                  tr
                    td glyphicon glyphicon-collapse-down
                  tr
                    td glyphicon glyphicon-collapse-up
                  tr
                    td glyphicon glyphicon-saved
                  tr
                    td glyphicon glyphicon-share
          .col-md-6
            .panel.panel-default
              .panel-heading Hottest Playlists
              .panel-body
                table.table
                  tr
                    td glyphicon glyphicon-thumbs-up
                  tr
                    td glyphicon glyphicon-pushpin
                  tr
                    td glyphicon glyphicon-collapse-down
                  tr
                    td glyphicon glyphicon-collapse-up
                  tr
                    td glyphicon glyphicon-saved
                  tr
                    td glyphicon glyphicon-share
      .col-md-3
        .panel.panel-default
          .panel-heading New Playlists
          .panel-body
            table.table
              tr
                td glyphicon glyphicon-thumbs-up
              tr
                td glyphicon glyphicon-pushpin
              tr
                td glyphicon glyphicon-collapse-down
              tr
                td glyphicon glyphicon-collapse-up
              tr
                td glyphicon glyphicon-saved
              tr
                td glyphicon glyphicon-share
              tr
                td glyphicon glyphicon-thumbs-up
              tr
                td glyphicon glyphicon-pushpin
              tr
                td glyphicon glyphicon-collapse-down
              tr
                td glyphicon glyphicon-collapse-up
