doctype html
html(ng-app='DiskoApp')
  head
    title Disko
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css")
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
  include scripts
    block content
      body(data-spy="scroll" data-target="#nav-scrollspy" style="background-style:url('http://interfacelift.com/wallpaper/Df0c8f48/03532_stairwaytoheaven_1440x900.jpg');")
