extends layout
block append content
  include inc_navbar
  .container
    .row
      .col-md-8
        h1 --Playlist Name--
        h4 by --User--
    br
    script(type='text/javascript' src="/js/controllers/player.js")
    .row(collapse='isCollapsed')
      .well.well-lg
        //- Collapsed well for displaying subviews for managing playlist and user settings
    .row(ng-controller='playerController')
      .col-md-7
        .row
          .col-md-12
            .panel.panel-default
              .panel-body
                .btn-toolbar
                  .btn-group
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-step-backward
                      |  Previous
                    button.btn.btn-default(type='button' ng-click="buttons.play()")
                      span.glyphicon.glyphicon-play
                      |  Play
                    Button.btn.btn-default.hide(type='button')
                      span.glyphicon.glyphicon-pause
                      |  Pause
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-step-forward
                      |  Next
                  .btn-group
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-thumbs-up
                      |  Like
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-share
                      |  Share
                  .btn-group
                    button.btn.btn-default(type='button' data-toggle="modal" data-target="#manageModal")
                      span.glyphicon.glyphicon-cog
                      |  Manage

                  .btn-group
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-share-alt
                      |  Fork

        .row
          .col-md-12
            .panel.panel-default
              .panel-body
                h5 Add a song :
                form.form-inline
                  .col-sm-10
                    div.form-group.has-feedback.full-width
                      input.form-control(type="url" ng-model="newTrackUrl" placeholder="Paste url of the track ...")
                      span.glyphicon.form-control-feedback.hide.full-width
                  .col-sm-2
                    button.btn.btn-default(ng-click="addNewTrack()") Add track

        .row
          .col-md-12
            //- div(ng-controller='playlistController')
            //-   div.list-group
            //-     a.list-group-item(ng-repeat='item in playlist | orderBy:sortingOrder:reverse')
            //-       //- h4.list-group-item-heading List group item heading
            //-       p.list-group-item-text
            //-         p {{item.author}}
            //-         p {{item.title}}
            //-         span.inline.right 3.10
            div
              script.
                  $(function() {
                    $( "#sortable" ).sortable();
                    $( "#sortable" ).disableSelection();
                  });
              table.table.table-hover
                tr
                  //- th
                  th Song
                  th Duration
                  //- th Added By
                  //- th Added Date
                  //- th url
                  th Source
                tbody(id='sortable')
                  tr(ng-repeat='item in playlist.content | orderBy:sortingOrder:reverse')
                    //- td
                    //-   button.btn(type='button')
                    //-     span.glyphicon.glyphicon-play
                    td
                      a(ng-click="playing.changeTrack(item)")  {{item.title}} - {{item.artist}}
                    td.
                      {{item.duration}}
                    //- td {{item.addedBy}}
                    //- td {{item.addedDate}}
                    //- td {{item.url}}
                    td
                      a(href='{{item.url}}' target="_BLANK") {{item.service}}
              button.btn.btn-success.pull-right(type="button" ng-click="savePlaylist()")
                span.glyphicon.glyphicon-ok Save

      .col-md-5
        .row
          .panel.panel-default
            .panel-heading
              h4 Playing : Artist - Title
            .panel-body
              iframe(id="scPlayer" ng-show="playing.isSC" width="100%" height="400px" scrolling="no" frameborder="no" src="")
              div(ng-show="!playing.isSC")
                div(id="ytPlayer" scrolling="no" frameborder="no")
        .row
          .panel.panel-default
            .panel-heading
              h4 Playlist Comments :
            .panel-body
              ul.list-group
                li.list-group-item
                  h5 Post a Comment :
                  .input-group
                    input.form-control(type='text')
                    span.input-group-btn
                      button.btn.btn-default(type='button') Go!
                li.list-group-item
                  h5
                    a User 1 :
                  span  Cras justo odio
                li.list-group-item
                  h5
                    a User 2 :
                  span Dapibus ac facilisis in
                li.list-group-item
                  h5
                    a User 3 :
                  span Morbi leo risus
                li.list-group-item
                  h5
                    a User 4 :
                  span Porta ac consectetur ac
                li.list-group-item
                  h5
                    a User 5 :
                  span Vestibulum at eros

        .modal.fade(id="manageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Manage Playlist
                .modal-body
                  h5 Title
                  input.form-control(type='text')
                  h5 Editors
                  input.form-control(type='text')
                  h5 Visibility
                  select.form-control
                    option(value='public') Public
                    option(value='protected') Protected
                    option(value='private') Private
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
                  button.btn.btn-primary(type='button') Save changes
