extends layout
block append content
  include inc_navbar
  .container
    .row
      .col-md-8
        h1 Playlist Name
        h4 by User
    br
    script(type='text/javascript').
      var DiskoApp = angular.module('DiskoApp', []);

      DiskoApp.controller('playlistController',function($scope) {

        $.get('/data/playlists.json', function(data) {
          $scope.$apply(function(){
            $scope.playlist = data.content[0].content;
          });
        });
        console.log($scope.playlist);
      });

      DiskoApp.controller('trackController', function($scope) {
        $scope.addNewTrack = function() {
          //toastr options -> put in another file ?
          toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "700",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
          }
          $("div.form-group.has-feedback").removeClass('has-error has-success');
          $("span.glyphicon").removeClass("glyphicon-ok glyphicon-remove");
          if($scope.newTrackUrl == undefined) {
              console.log("BAD URL");
              $("span.glyphicon").removeClass("hide").addClass("glyphicon-remove");
              $("div.form-group.has-feedback").addClass("has-error");
          } else {
            $.get('/getter', {url: $scope.newTrackUrl}, function(answer) {
              if(answer.code != 0) {
                toastr.options.onHidden = function() { 
                  $("span.glyphicon.form-control-feedback").addClass("hide"); 
                  $("div.form-group.has-feedback").removeClass("has-success");
                  $scope.$apply(function() {
                    $scope.newTrackUrl = null;
                  });
                };
                toastr.success('Track added to the playlist');
                $("span.glyphicon").removeClass("hide").addClass("glyphicon-ok");
                $("div.form-group.has-feedback").addClass("has-success");
                console.log("URL OK: " + $scope.newTrackUrl);
                console.log(answer);
              }
              else {
                $("span.glyphicon").removeClass("hide").addClass("glyphicon-remove");
                $("div.form-group.has-feedback").addClass("has-error");
                console.log("Error in URL");
              }
            });
          }
        };
      });
    .row
      .col-md-7
        .row
          .col-md-12
            .panel.panel-default
              .panel-body
                .btn-toolbar
                  .btn-group
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-step-backward
                      |  Previous
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-play
                      |  Play
                    Button.btn.btn-default.hide(type='button')
                      span.glyphicon.glyphicon-pause
                      |  Pause
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-step-forward
                      |  Next
                  .btn-group
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-thumbs-up
                      |  Like
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-share
                      |  Share
                  .btn-group
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-cog
                      |  Manage
                  .btn-group
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-share-alt
                      |  Fork

        //bar to add a track to the playlist
        .row(ng-controller='trackController')
          .col-md-12
            .panel.panel-default
              .panel-body
                h5 Add a song :
                form.form-inline
                  .col-sm-10
                    div.form-group.has-feedback.full-width
                      //c'est sale le CSS
                      input.form-control(type="url" ng-model="newTrackUrl" placeholder="Paste url of the track ...")
                      span.glyphicon.form-control-feedback.hide.full-width
                  .col-sm-2
                    button.btn.btn-default(ng-click="addNewTrack()") Add track

        .row
          .col-md-12
            //- div(ng-controller='playlistController')
            //-   div.list-group
            //-     a.list-group-item(ng-repeat='item in playlist | orderBy:sortingOrder:reverse')
            //-       //- h4.list-group-item-heading List group item heading
            //-       p.list-group-item-text
            //-         p {{item.author}}
            //-         p {{item.title}}
            //-         span.inline.right 3.10

            div(ng-controller='playlistController')
              table.table.table-hover
                tr
                  //- th
                  th Song
                  th Duration
                  //- th Added By
                  //- th Added Date
                  //- th url
                  th source
                tr(ng-repeat='item in playlist | orderBy:sortingOrder:reverse')
                  //- td
                  //-   button.btn(type='button')
                  //-     span.glyphicon.glyphicon-play
                  td
                    a  {{item.title}} - {{item.author}}
                  td.
                    3:10
                  //- td {{item.addedBy}}
                  //- td {{item.addedDate}}
                  //- td {{item.url}}
                  td
                    a(href='{{item.url}}') {{item.src}}
      .col-md-5
        //- .row
        //-   object#gsSong2737846533(width='100%', height='40', classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', name='gsSong2737846533')
        //-     param(name='movie', value='http://grooveshark.com/songWidget.swf')
        //-     param(name='wmode', value='window')
        //-     param(name='allowScriptAccess', value='always')
        //-     param(name='flashvars', value='hostname=grooveshark.com&songID=27378465&style=metal&p=0')
        //-   object(type='application/x-shockwave-flash', data='http://grooveshark.com/songWidget.swf', width='250', height='40')
        //-     param(name='wmode', value='window')
        //-     param(name='allowScriptAccess', value='always')
        //-     param(name='flashvars', value='hostname=grooveshark.com&songID=27378465&style=metal&p=0')
        //- .row
        //-   iframe(width='100%', height='100', src='//www.youtube.com/embed/LtMS5eOOeQQ', frameborder='0', allowfullscreen='allowfullscreen')
        .row
          .panel.panel-default
            .panel-heading
              h4 Playing : Artist - Title
            .panel-body
              iframe(width="100%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/94324263&amp;auto_play=false&amp;hide_related=false&amp;visual=true")
        .row.hide
          iframe(width="100%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/5843667&amp;auto_play=false&amp;hide_related=false&amp;visual=true")
        .row.hide
          iframe(width="100%" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/53371201&amp;auto_play=false&amp;hide_related=false&amp;visual=true")
        .row
          .panel.panel-default
            .panel-heading
              h4 Playlist Comments :
            .panel-body
              ul.list-group
                li.list-group-item
                  h5 Post a Comment :
                  .input-group
                    input.form-control(type='text')
                    span.input-group-btn
                      button.btn.btn-default(type='button') Go!
                li.list-group-item
                  h5
                    a User 1 :
                  span  Cras justo odio
                li.list-group-item
                  h5
                    a User 2 :
                  span Dapibus ac facilisis in
                li.list-group-item
                  h5
                    a User 3 :
                  span Morbi leo risus
                li.list-group-item
                  h5
                    a User 4 :
                  span Porta ac consectetur ac
                li.list-group-item
                  h5
                    a User 5 :
                  span Vestibulum at eros
