extends layout
block append content
  include inc_navbar
  .container
    .row
      .col-md-4
        .panel.panel-default
          .panel-body
            h4 Playlist 1
            p Song 1
            p Song 2
            p Song 3
            p Song 4
            p Song 5
      .col-md-4
        .panel.panel-default
          .panel-body
            h4 Playlist 2
            p Song 1
            p Song 2
            p Song 3
            p Song 4
            p Song 5
      .col-md-4
        .panel.panel-default
          .panel-body
            h4 Playlist 3
            p Song 1
            p Song 2
            p Song 3
            p Song 4
            p Song 5
      .col-md-4
        .panel.panel-default
          .panel-body
            h4 Playlist 1
            p Song 1
            p Song 2
            p Song 3
            p Song 4
            p Song 5
      .col-md-4
        .panel.panel-default
          .panel-body
            h4 Playlist 2
            p Song 1
            p Song 2
            p Song 3
            p Song 4
            p Song 5
      .col-md-4
        .panel.panel-default
          .panel-body
            h4 Playlist 3
            p Song 1
            p Song 2
            p Song 3
            p Song 4
            p Song 5
